<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCSwgjWQWm7iLNeV41yn_EovYyEc1o1STc</string>
	<key>GCM_SENDER_ID</key>
	<string>497888881418</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>solo.MapProject</string>
	<key>PROJECT_ID</key>
	<string>mapproject-e4f61</string>
	<key>STORAGE_BUCKET</key>
	<string>mapproject-e4f61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497888881418:ios:8f038b9b2e06a1624928f3</string>
	<key>DATABASE_URL</key>
	<string>https://mapproject-e4f61-default-rtdb.firebaseio.com</string>
</dict>
</plist>